html, body {
    margin: 0;
}

#content {
    padding: 10px;
}

h1#header {
    margin: 0;
    padding: 10px;
    background-color: #44463f;
    color: #fff;
    font-size: 90%;
}

h3.name {
  color: #fff;
}

button {
    border: 1px solid #999;
    border-radius: 1px;
}

button:hover {
    background-color: #bbb;
}

body {
    font-family: sans-serif;
}

ul#peers {
  list-style: none;
}

#messages li, #peers li {
  list-style: none;
}

#messages, #peers {
    padding: 0;
}

#peers h6 {
  text-transform: uppercase;
}

.edit-container {
    float: right;
}

.peer {
    border: 1px solid #999;
    margin-bottom: 4px;
}

.url-list li {
    list-type: none;
    margin-left: 0px;
    padding: 6px 6px;
}

.url-list a {
    text-decoration: none;
}

.url-list {
    padding: 0 0 0 0px;
    max-height: 100px;
    overflow-y: hidden;
}

/* highlight active tab*/
.url-list li:first-child {
  background: rgba(235, 235, 235, 1);
  padding: 6px 6px 8px 6px;
  border-radius: 2px;
}

/*hide other Push btns for other participants*/

li#template-peer {
  //background: green;
  //border:1px solid red;
}


/*Participant component */

.url-list li:nth-child(n+2) a#request-current {
  //background: green;
  padding: 20px;
  visibility:hidden;
}

.panel-body h6 {
  margin-top: 0px;
  opacity: 0.5;
}

#request-current {
  display: none;
  margin-right: 0px;
}

.push-btn-txt {
  font-family: Helvetica, sans-serif;
}

.avatar-holder {
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  border-radius: 50px;
  margin: -4px 10px 0px -4px;
  background: #fff;
}

.user-avatar {
  margin-right: 10px;
}

.btn-minimize {
  margin: -20px 0px;
}

.activity-indicator {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: -4px 10px 0px -4px;
  background: green;
}

#debug-panel-container {
  display: none;
}

/*Misc*/

.email-feedback {
  margin: 0px 10px 10px 10px;
}


/* Some debug overrides: */

body.debug #main-content {
  max-width: 300px;
  border-right: 1px solid #777;
  height: 100%;
  overflow-y: scroll;
}

html.debug-html, body.debug {
  height: 100%;
}

body.debug #debug-panel-container {
  display: block;
  /* FIXME: pointer-events here is too much */
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0px;
  padding-left: 300px;
  width: 100%;
}

body.debug #debug-panel {
  padding: 10px;
  pointer-events: auto;
}

body.debug #debug-listener {
  width: 100%;
  height: 10em;
}
