html, body {
    margin: 0;
}

#content {
    //padding: 10px;
}

h1#header {
    margin: 0;
    padding: 10px;
    background-color: #44463f;
    color: #fff;
    font-size: 90%;
}

h3.name {
  color: #fff;
}

button {
    border: 1px solid #999;
    border-radius: 1px;
}

button:hover {
    background-color: #bbb;
}

body {
    font-family: sans-serif;
}

ul#peers {
  list-style: none;
}

#messages li, #peers li {
  list-style: none;
}

#messages, #peers {
    padding: 0;
}

#peers h6 {
  text-transform: uppercase;
}

.edit-container {
    float: right;
}

.peer {
    border: 1px solid #999;
    margin-bottom: 4px;
}

.url-list li {
    list-type: none;
    margin-left: 0px;
    padding: 6px 6px;
}

#template-tab .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
}

.url-list a {
    text-decoration: none;
}

.url-list {
    padding: 0 0 0 0px;
    max-height: 100px;
    overflow-y: scroll;
}

#chat {
    width: 100%;
    border-top-left-radius: 0px;
}

/* highlight active tab*/
.url-list li:first-child {
  background: rgba(235, 235, 235, 1);
  padding: 6px 6px 8px 6px;
  border-radius: 2px;
}

/*hide other Push btns for other participants*/


/*Participant component */

.url-list li:nth-child(n+2) a.request-current {
  padding: 20px;
  visibility: hidden;
}

.is-not-self a.request-current {
  display: none;
}

.panel-body h6 {
  margin-top: 0px;
  opacity: 0.5;
}

.request-current {
  display: none;
  margin-right: 0px;
}

.panel-heading {
  padding: 20px 10px !important;
}

.push-btn-txt {
  font-family: Helvetica, sans-serif;
}


.wrapper {
    width: 50%; /*whatever width you want*/
    display: inline-block;
    position: relative;
    float: left;
}
.wrapper:after {
    padding-top: 75%; /*4:3 ratio*/
    display: block;
    content: '';
}
.main {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0; /*fill parent*/
    background-color: rgb(0, 140, 200); /*let's see it!*/
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  color: #fff;
  opacity: 0;
}

.overlay:hover {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  color: #fff;
  opacity: 1;
}

#users .username {
  position: absolute;
  bottom: 0px;
  padding: 5px;
  background: rgba(0,0,0,0.5);
  width: 100%;
  color: #fff;
  opacity: 1;
}

.overlay .row {
  padding-top: 2%;
}

.overlay button {
  margin: 6px;
}

.user-one {
  background: url('../temp-images/avatar-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.user-two {
  background: url('../temp-images/avatar-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.user-three {
  background: url('../temp-images/avatar-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.user-four {
  background: url('../temp-images/avatar-4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.avatar-box:hover {
  background: rgba(0,0,0,0.1);
  cursor: pointer;
}

.middlebar {
  background: #f4f4f4;
  height: 40px;
  padding: 10px 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.middlebar li {
  padding: 0px 16px 7px 16px !important;
}

.middlebar li a {
  color: #999;
}

.middlebar li a:hover {
  text-decoration: none;
  color: rgb(66, 139, 202);
}

.middlebar li.active {
  border-bottom: 2px solid rgb(66, 139, 202);;
}

.middlebar li.active a {
  color: rgb(66, 139, 202);
}

.activity-stream {
  //position: fixed;
  //top: 340px;
  //bottom: 40px;
  width: 100%;
  height:auto;
  overflow:scroll;
  max-height:300px;
}

li.media {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 15px;
  margin: 0px;
}

.row {
  margin-right: 0px !important;
  //margin-left: 0px !important;
  padding-left: 15px;
}


.user-avatar {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(255,255,255,1);
  border-radius: 120px;
  background: #ccc;
}

.avatar {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(255,255,255,1);
  border-radius: 120px;
  //margin-right: 10px;
  //margin-top: -14px !important;
  //padding-top: -10px !important;
}

.btn-minimize {
  margin: -20px 0px;
}

.activity-indicator {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: -4px 10px 0px -4px;
  background: green;
}

#debug-panel-container {
  display: none;
}

/*Misc*/

.email-feedback {
  margin: 0px 10px 10px 10px;
}


/* Some debug overrides: */

body.debug #main-content {
  max-width: 300px;
  border-right: 1px solid #777;
  height: 100%;
  overflow-y: scroll;
}

html.debug-html, body.debug {
  height: 100%;
}

body.debug #debug-panel-container {
  display: block;
  /* FIXME: pointer-events here is too much */
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0px;
  padding-left: 300px;
  width: 100%;
}

body.debug #debug-panel {
  padding: 10px;
  pointer-events: auto;
}

body.debug #debug-listener {
  width: 100%;
  height: 10em;
}

#chat-field {
  position:fixed;
  bottom:0px;
  //height:24px;
  //border-top: 1px solid grey;
  //background-color: white;
  width:100%;
  //margin:0;
  //padding:0;
}

#chat-field .btn {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

