html, body {
    margin: 0;
    height: 100%;
}

a {
  color: #0095DD;
}

a:hover {
  color: #00539F;
}

a:visited {
  color: #8e44ad;
}

#content {
    //padding: 10px;
}

h1#header {
    margin: 0;
    padding: 10px;
    background-color: #44463f;
    color: #fff;
    font-size: 90%;
}

h3.name {
  color: #fff;
}

.nopad {
  padding: 0;
}

button {
    border: 1px solid #999;
    border-radius: 1px;
}

button:hover {
    background-color: #bbb;
}

body {
    font-family: sans-serif;
}

ul#peers {
  list-style: none;
}

#messages li, #peers li {
  list-style: none;
}

#messages, #peers {
    padding: 0;
}

#peers h6 {
  text-transform: uppercase;
}

.edit-container {
    float: right;
}

.peer {
    border: 1px solid #999;
    margin-bottom: 4px;
}

.url-list li {
    list-type: none;
    margin-left: 0px;
    padding: 6px 6px;
}

#template-tab .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
}

.url-list a {
    text-decoration: none;
}

.url-list {
    padding: 0 0 0 0px;
    max-height: 100px;
    overflow-y: scroll;
}

#chat {
    width: 100%;
    border-top-left-radius: 4px;
}

#chat.form-control:focus {
  box-shadow: none;
}

/* highlight active tab*/
.url-list li:first-child {
  background: rgba(235, 235, 235, 1);
  padding: 6px 6px 8px 6px;
  border-radius: 2px;
}

/*hide other Push btns for other participants*/

/*Sidebar*/

/* notification that all users are in the session */
.all-users-here-notification {
  width: 100%;
  color: #fff;
  padding: 6px;
  text-align: center;
  background: rgba(1, 177, 105, 0.9);
  position: absolute;
  top: -33px;
  z-index: 9999;
}

.invites-sent-notification {
  width: 100%;
  color: #fff;
  padding: 6px;
  text-align: center;
  background: rgba(1, 177, 105, 0.9);
  position: absolute;
  top: -33px;
  z-index: 9999;
}


/*Participant component */

.url-list li:nth-child(n+2) a.request-current {
  padding: 20px;
  visibility: hidden;
}

.is-not-self a.request-current {
  display: none;
}

.panel-body h6 {
  margin-top: 0px;
  opacity: 0.5;
}

.request-current {
  display: none;
  margin-right: 0px;
}

.panel-heading {
  padding: 20px 10px !important;
}

.push-btn-txt {
  font-family: Helvetica, sans-serif;
}

.wrapper {
    width: 50%; /*whatever width you want*/
    display: inline-block;
    position: relative;
    float: left;
}
.wrapper:after {
    padding-top: 75%; /*4:3 ratio*/
    display: block;
    content: '';
}
.main {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0; /*fill parent*/
    background-color: rgba(0, 0, 0, 0.2); /*let's see it!*/
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  color: #fff;
  opacity: 0;
}

.overlay .btn {
  display: none;
}

.overlay:hover {
  //width: 100%;
  //height: 100%;
  //background: rgba(0,0,0,0.5);
  //color: #fff;
  //opacity: 1;
}

#participant-view .wrapper {
    width: 100%; /*whatever width you want*/
    display: inline-block;
    position: relative;
    float: left;
}
#participant-view .wrapper:after {
    padding-top: 75%; /*4:3 ratio*/
    display: block;
    content: '';
}
#participant-view .main {
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0; /*fill parent*/
    background-color: rgb(0, 140, 200); /*let's see it!*/
}

h4.media-heading.username {
  font-size: 12px;
  //display: none;
}

#users {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 4;
}

#users .username {
  position: absolute;
  bottom: 0px;
  padding: 5px;
  background: rgba(0,0,0,0.5);
  width: 100%;
  color: #fff;
  opacity: 1;
}



.inviteUserBtn:hover {
  cursor: pointer;
  color: #fff;
  //background: #bdc3c7;
}

.inviteOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.inviteOverlay:hover {
  opacity: 0.1;
  background: rgba(0,0,0,1);
}


.overlay .row {
  padding-top: 2%;
}

.overlay button {
  margin: 6px;
}

.user-one {
  background: url('../temp-images/avatar-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.user-two {
  background: url('../temp-images/avatar-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.user-three {
  background: url('../temp-images/avatar-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.user-four {
  background: url('../temp-images/avatar-4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.avatar-box:hover {
  background: rgba(0,0,0,0.1);
  cursor: pointer;
}

/*Middlebar*/

.middlebar {
  background: #f4f4f4;
  //height: 40px;
  padding: 10px 0px;
  margin-bottom: 0px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.middlebar li {
  padding: 0px 16px 7px 16px !important;
}

.middlebar li a {
  color: #999;
}

.middlebar li a:hover {
  text-decoration: none;
  color: rgb(66, 139, 202);
}

.middlebar li.active {
  border-bottom: 2px solid rgb(66, 139, 202);;
}

.middlebar li.active a {
  color: rgb(66, 139, 202);
}

.activity-stream {
  width: 100%;
  font-size: 13px;
  //height:auto;
  overflow: auto;
  //max-height:300px;
  padding: 0;
  margin: 250px 0 46px;
}

.activity-stream a {
  color: #0095DD;
}

.activity-stream a:hover {
  color: #00539F;
}

.activity-stream a:visited {
  color: #8e44ad;
}

.spectate-page {
  margin-left: 10px;
  margin-top: 6px;
  margin-bottom: 2px;
  position: relative;
  z-index: 2;
  border-radius: 4px;
  color: #fff;
  font-family: helvetica, sans-serif;
  background: #0095DD;
  text-decoration: none;
  padding: 4px;
  text-transform: uppercase;
  font-size: 10px;
  border: 1px solid rgba(0,0,0,0.5);
}

a.spectate-page {
  color: #fff !important;
}

a.spectate-page:hover {
  color: #fff !important;
  text-decoration: none !important;
  background: #1c87ba;
}

li.media {
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 6px;
  margin: 0px;
  line-height: 22px;
}

li.media:hover {
    background-color: #EEE;
}

.row {
  margin-right: 0px !important;
  //margin-left: 0px !important;
  padding-left: 15px;
}

.middlebar li.btn-toggle {
  padding: 0px 0px 7px !important;
  margin-top: -2px;
}


/*Private Messages*/
.time {
  font-size: 10px;
  padding-top: 2px;
  opacity: 0.5;
  text-transform: uppercase;
  margin-left: 10px;
  float: right;
  position: relative;
  z-index: 3;
}

#private-messages-list li:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.2);
}

.chevron-icon {
  top: -18px !important;
  opacity: 0.2;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border: 1px solid rgba(255,255,255,1);
  border-radius: 64px;
  background: #ccc;
}

.avatar {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(255,255,255,1);
  border-radius: 120px;
  //margin-right: 10px;
  //margin-top: -14px !important;
  //padding-top: -10px !important;
}

.btn-currently-presenting, .btn-warning {
  font-size: 8px;
}

#bar-container {
  position: fixed;
  top: 200px;
  width: 100%;
  z-index: 5;
}

#bar-container .btn-group-justified .btn {
  width: 100%;
}

#bar-container .btn-primary {
  background-color: #2c8fbf;
}

#bar-container .btn-primary:hover {
  background-color: #3686ad;
}

#bar-container .btn-success {
  background-color: #5db899;
}

#bar-container .btn-success:hover {
  background-color: #62a58e;
}

#bar-container .btn-warning {
  background-color: #592854;
  border:1px solid #452442;
}

#bar-container .btn-warning:hover {
  background-color: #452442;
}

#bar-container #btn-presenting {
  height: 50px;
}

#bar-container #btn-upload {
  height: 50px;
}

#bar-container #btn-share-everyone {
  height: 50px;
}

#bar-container #btn-activity-log {
  height: 50px;
}

/*#bar-container .btn-group {
  float: none;
  display: table-cell;
}*/

.btn-minimize {
  margin: -20px 0px;
}

.activity-indicator {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: -4px 10px 0px -4px;
  background: green;
}

#debug-panel-container {
  display: none;
}

/*Misc*/

.email-feedback {
  margin: 0px 10px 10px 10px;
}

.btn-feedback {
  display: none !important;
}

#ftu-panel {
  display: none;
}

#invite-panel {
  position: absolute;
  left: -400px;
  width: 100%;
  top: 0px;
  display: none;
  background: #ebebeb;
  height: 100%;
  z-index: 9999;
  box-shadow: 1px 1px rgba(0,0,0,0.2);
}

#invite-panel .btn-cancel-invites {
  margin: 4px 0px;
}

#invite-panel .panel-heading {
  padding: 6px 10px !important;
}

#invite-panel .sendinvites .list-group {
  margin-bottom: 10px;
}

#invite-panel .sendinvites .panel-body {
  padding-bottom: 0px;
}

#invite-panel .headerrow {
  background: #363636;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.headerrow h4 {
  font-size: 14px;
}

#invite-panel .copyandpasteinvites {
  margin-bottom: 0px;
}

#invite-panel .sendinvites {

}

#invite-panel .btn-primary {
  background-color: rgb(44, 143, 191);
}

/* Some debug overrides: */

body.debug .main-content {
  max-width: 300px;
  border-right: 1px solid #777;
  height: 100%;
  //overflow-y: scroll;
}

html.debug-html, body.debug {
  height: 100%;
}

body.debug #debug-panel-container {
  display: block;
  /* FIXME: pointer-events here is too much */
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0px;
  padding-left: 300px;
  width: 100%;
}

body.debug #debug-panel {
  padding: 10px;
  pointer-events: auto;
}

body.debug #debug-listener {
  width: 100%;
  height: 10em;
}

.deadTabClass {
  opacity: 0.65;
}

.activeTab {
  background: #2c8fbf;
  height: 20px;
  width: 20px;
}

.participantViewer {
  padding: 4px;
  border-radius: 4px;
  background: #592854;
  color: #fff;
  //margin-left: 4px;
}

.prStyle {
  color: #5db899;
}

.viewStyle {
  color: #592854;
}

.participantCollaborator {
  padding: 4px;
  border-radius: 4px;
  background: #636363;
  color: #fff;
  //margin-left: 4px;
}

#temp-feedback {
  margin-bottom: -9px;
  font-size: 10px;
  text-align: center;
  padding: 6px 0px;
}

#temp-feedback a {
  color: #fff;
}

#temp-feedback a:hover {
  text-decoration: underline;
}

#chat-field {
  position:fixed;
  bottom:0px;
  padding: 10px;
  background: rgba(112,122,122,0.9);
  width:100%;
  z-index: 6;
}

#chat-field .btn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: rgb(44, 143, 191);
  color: rgb(255, 255, 255);
  border: 1px solid #3e7088;
}

#chat-field .btn:hover {
  background: #3686ad;
}

.waitingforuser {
  height: 300px;
}

.invitePlusbtn {
  padding-top: 0px;
}


@media (max-width: 390px) {
  .drowdownrow {
    width: 100% !important;
  }

  .presentrow {
    width: 100% !important;
  }
}

@media (max-width: 250px) {

  .time {
    margin-left: 0px !important;
    float: none;
    margin-bottom: 4px;
  }

  .current-location {
    font-size: 12px !important;
  }

  .middlebar li {
    padding: 0px 6px 7px !important;
  }

  #users .username {
    font-size: 10px;
  }

  .btn-activity-stream , .btn-push-tab {
    font-size: 10px;
  }

  .btn-sm.btn-invite-sm {
    margin-top: -50px !important;
    font-size: 8px;
  }

  .waitingforuser {
    font-size: 8px;
  }

}

.uname {
  background: rgba(0,0,0,0.8);
  color: #fff;
  position: absolute;
  bottom: -10px;
  width: 100%;
  font-size: 10px;
  padding: 4px;
}

.murderers-row {
  height:100px;
}

.murderers-row:hover {
  cursor: pointer;
}

.murderers-row .avatarOverlay { width: 100%; height: 2px; position: absolute; top: 0; left: 0; right:0; bottom:0; display: none; background-color: #2c8fbf; z-index: 0; }
.murderers-row:hover .avatarOverlay { display: block; }

.fullheight {
  height:100%;
}

.fullwidth {
  width:100%;
}
