html, body {
    margin: 0;
}

#content {
    padding: 4px;
}

h1#header {
    margin: 0;
    padding: 5px;
    background-color: #000;
    color: #fff;
    font-size: 90%;
}

button {
    border: 1px solid #999;
    border-radius: 1px;
}

button:hover {
    background-color: #bbb;
}

body {
    font-family: sans-serif;
}

#messages li, #peers li {
    list-type: none;
}

#messages, #peers {
    padding: 0;
}

.edit-container {
    float: right;
}

.peer {
    border: 1px solid #999;
    margin-bottom: 4px;
}
