/* #tabbrowser-tabs {
	background-color: red !important;
	border: 1px solid green !important;
}
*/

.hotdish #tabbrowser-tabs {
	//background-color: blue;
	background: url('images/eye-icon.png');
	background-repeat: repeat-x;
}
