/* #tabbrowser-tabs {
	background-color: red !important;
	border: 1px solid green !important;
}
*/

.hotdish #tabbrowser-tabs {
  background-image: url("../sidebar/assets/hotdish-logo.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #f28c20;
}


/* to explore these:  chrome://browser/content/browser.xul,
   menu > view > sidebar > bookmarks

   NOTE: these will affect ANY SIDEBAR in a hotdish window.
   Getting this 'righter' means knowing the 'value' is ~='Hotdish', like

   (css4)           this part works.
   sidebarheader! > #sidebar-title[value^="Hotdish"] {
    display:none
   }
*/

/* the whole sidebar */
.hotdish #sidebar-box {
    border-right: double 5px #f28c20;
}

/* the header */
.hotdish sidebarheader {
  display: none;
}

/* the close button */
.hotdish sidebarheader .tabs-closebutton {}


/* this isn't working old firefoxes!  */
.hotdish #hotdish-widget,
.hotdish #hotdish-button,
.hotdish #australis-hotdish-button {
	background: -moz-radial-gradient(center, circle, rgba(255,255,255,1) 0%, rgba(255,155,0,1) 100%);
}

.hotdish #hotdish-button .toolbarbutton-icon,
.hotdish #australis-hotdish-button .toolbarbutton-icon {
	-moz-appearence: none !important;
	background: -moz-radial-gradient(center, circle, rgba(255,255,255,1) 0%, rgba(255,155,0,1) 100%);
}










/*Presenter tab style*/
.hotdish #presenter-tab tab.tabbrowser-tab {
  border-top: 1px solid #2ecc71;
}


/*Spectator tab style*/
.hotdish #spectator-tab {
    border-top: 1px solid #3498db;
}


/*Shared tab style*/
.hotdish #shared-tab {

}



