/* #tabbrowser-tabs {
	background-color: red !important;
	border: 1px solid green !important;
}
*/

.hotdish #tabbrowser-tabs {
  background-image: url("../sidebar/assets/hotdish-logo.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #F66000;
}
