<!DOCTYPE html>
<html ng-app="sidebarApp">
  <head>
    <meta charset="UTF-8">
    <title>Hotdish</title>
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script src="../channels/channels.js"></script>
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/sidebar-debug.js"></script>
    <script src="js/sidebar.js"></script>
    <script src="http://code.angularjs.org/1.2.8/angular.js"></script>
    <script src="js/model.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/collapse.js"></script>
    <script src="js/transition.js"></script>
    <script src="js/tooltip.js"></script>
    <!--<script src="js/angular.min.js"></script>-->
  </head>

  <body class="sidepanel">  <!-- START SIDEBAR -->

    <pre id="debug"></pre>

    <div id="main-content">
      <div id="content">

        <div id="users" ng-controller="UserListCtrl">
          <div class="row">
            <div class="wrapper">
              <div class="main user-four">
                <div class="username">
                  me
                </div>
                <div class="overlay">
                  <div class="row-fluid">
                    <div class="container text-center">
                      <div class="col-xs-12">
                        <a href="" class="btn btn-default btn-sm" role="button">
                          Take photo
                        </a>
                        <a href="" class="btn btn-default btn-sm" role="button">
                          Settings
                        </a>
                        <a href="" class="btn btn-default btn-sm" role="button">
                          Profile
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrapper">
              <div class="main user-two">
                <div class="username">
                  ilana
                </div>
                <div class="overlay">
                  <div class="row">
                    <div class="container text-center">
                      <div class="col-xs-12">
                        <a href="" class="btn btn-default btn-sm" role="button">
                          Talk
                        </a>
                        <a href="" class="btn btn-default btn-sm" role="button">
                          Profile
                        </a>
                        <a href="" class="btn btn-default btn-sm" role="button">
                          Invite
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="wrapper">
              <div class="main user-three">
                <div class="username">
                  ianbicking
                </div>
                <div class="overlay">
                  <div class="row">
                    <div class="container text-center">
                      <div class="col-xs-12">
                        <a href="" class="btn btn-default btn-sm" role="button">
                          Talk
                        </a>
                        <a href="" class="btn btn-default btn-sm" role="button">
                          Profile
                        </a>
                        <a href="" class="btn btn-default btn-sm" role="button">
                          Invite
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="wrapper">
              <div class="main user-one">
                <div class="username">
                  gregglind
                </div>
                <div class="overlay">
                  <div class="row">
                    <div class="container text-center">
                      <div class="col-xs-12">
                        <a href="" class="btn btn-default btn-sm" role="button">
                          Talk
                        </a>
                        <a href="" class="btn btn-default btn-sm" role="button">
                          Profile
                        </a>
                        <a href="" class="btn btn-default btn-sm" role="button">
                          Invite
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="middlebar">
          <div class="row">
            <div class="col-xs-12">
              <ul class="list-inline">
                <li class="active">
                  <a class="glyphicon glyphicon-th-list btn-activity-stream" href="#" title="Activity Stream"></a>
                </li>
                <li class="">
                  <a class="glyphicon glyphicon-comment btn-private-messages" href="#" title="Private Messages"></a>
                </li>
                <li class="pull-right">
                  <a href="mailto:hotdish@mozilla.com?Subject=Hotdish feedback" title="Send feedback"><span class="glyphicon glyphicon-send"></span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="activity-stream" ng-controller="ActivityCtrl" id="activity-list"> <!-- Activity List -->
          <div class="row">
            <div class="">
              <ul class="media-list">

                <!-- Activity template: -->
                <li ng-repeat="activity in activities">
                  <a class="pull-left" href="#">
                    <div class="sm-avatar">
                      <img class="media-object user-avatar" ng-src="{{activity.peer.avatar}}" alt="">
                    </div>
                  </a>
                  <div class="media-body">
                    <a class="glyphicon glyphicon-eye-open pull-right spectate-page" href="#" title="Spectate on their page" data-toggle="tooltip" data-placement="left"></a>
                    <h4 class="media-heading username">{{activity.peer.name}}</h4>
                    is currently on <a class="current-location" href="#" title="View on same page">The New York Times</a>
                  </div>
                </li> <!-- /activity template -->

                <li class="media">
                  <a class="pull-left" href="#">
                    <div class="sm-avatar">
                      <img class="media-object user-avatar" src="" alt="">
                    </div>
                  </a>
                  <div class="media-body">
                    <a class="glyphicon glyphicon-eye-open pull-right spectate-page" href="#" title="Spectate on their page" data-toggle="tooltip" data-placement="left"></a>
                    <h4 class="media-heading username">Gregg</h4>
                    is currently on <a class="current-location" href="#" title="View on same page">The New York Times</a>
                  </div>
                </li>
                <li class="media">
                  <a class="pull-left" href="#">
                    <div class="sm-avatar">
                      <img class="media-object user-avatar" src="" alt="">
                    </div>
                  </a>
                  <div class="media-body">
                    <span class="timestamp pull-right" href="#">2 mins ago</span>
                    <h4 class="media-heading username">Ian</h4>
                    "What is this about?"
                  </div>
                </li>
                <li class="media">
                  <a class="pull-left" href="#">
                    <div class="sm-avatar">
                      <img class="media-object user-avatar" src="" alt="">
                    </div>
                  </a>
                  <div class="media-body">
                    <a class="glyphicon glyphicon-share-alt pull-right push-page" href="#" title="Push this page to everyone" data-toggle="tooltip" data-placement="left"></a>
                    <h4 class="media-heading username">aarondruck</h4>
                    is currently on <a class="current-location" href="#" title="View on same page">Github.com</a>
                  </div>
                </li>
                <li class="media">
                  <a class="pull-left" href="#">
                    <div class="sm-avatar">
                      <img class="media-object user-avatar" src="" alt="">
                    </div>
                  </a>
                  <div class="media-body">
                    <a class="glyphicon glyphicon-eye-open pull-right spectate-page" href="#" title="Spectate on their page" data-toggle="tooltip" data-placement="left"></a>
                    <h4 class="media-heading username">ilana</h4>
                    is currently on <a class="current-location" href="#" title="View on same page">espn.com</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="activity-stream" id="private-messages-list"> <!-- Private Messages -->
          <div class="row">
            <div class="">
              <ul class="media-list">

                <!-- Activity template: -->
                <li ng-repeat="activity in activities">
                  <a class="pull-left" href="#">
                    <div class="sm-avatar">
                      <img class="media-object user-avatar" ng-src="{{activity.peer.avatar}}" alt="">
                    </div>
                  </a>
                  <div class="media-body">
                    <a class="glyphicon glyphicon-eye-open pull-right spectate-page" href="#" title="Spectate on their page" data-toggle="tooltip" data-placement="left"></a>
                    <h4 class="media-heading username">{{activity.peer.name}}</h4>
                    is currently on <a class="current-location" href="#" title="View on same page">The New York Times</a>
                  </div>
                </li> <!-- /activity template -->

                <li class="media">
                  <a class="pull-left" href="#">
                    <div class="sm-avatar">
                      <img class="media-object user-avatar" src="" alt="">
                    </div>
                  </a>
                  <div class="media-body">
                    <span class="timestamp pull-right" href="#">13 mins ago</span>
                    <h4 class="media-heading username">Gregg</h4>
                    "Ok that sounds good!"
                  </div>
                  <span class="glyphicon glyphicon-chevron-right pull-right chevron-icon"></span>
                </li>
                <li class="media">
                  <a class="pull-left" href="#">
                    <div class="sm-avatar">
                      <img class="media-object user-avatar" src="" alt="">
                    </div>
                  </a>
                  <div class="media-body">
                    <span class="timestamp pull-right" href="#">2 mins ago</span>
                    <h4 class="media-heading username">Ian</h4>
                    "What is this about?"
                  </div>
                  <span class="glyphicon glyphicon-chevron-right pull-right chevron-icon"></span>
                </li>
                <li class="media">
                  <a class="pull-left" href="#">
                    <div class="sm-avatar">
                      <img class="media-object user-avatar" src="" alt="">
                    </div>
                  </a>
                  <div class="media-body">
                    <span class="timestamp pull-right" href="#">5 mins ago</span>
                    <h4 class="media-heading username">Ilana</h4>
                    "Yeah I think I saw that page already."
                  </div>
                  <span class="glyphicon glyphicon-chevron-right pull-right chevron-icon"></span>
                </li>
              </ul>
            </div>
          </div>
        </div>



        <!-- ><ul id="peers">

        </ul> -->

        <div id="messages-hidden">
          <!-- <button id="show-messages">Show messages</button> -->
        </div>

        <!------------------------------
          Templates
          -->
        <div style="display: none">
          <li id="template-message">
            <pre></pre>
          </li>

          <li id="template-peer" class="peer"> <!-- START Person box -->
            <header class="bgcolor"> <!-- Start Panel header -->
              <!-- <img class='pull-left avatar' src=""></img> -->
              <h3 class="new-name"></h3>
              <!-- <button type="button" class="btn btn-default btn-xs pull-right btn-minimize">
                <span class="glyphicon glyphicon-minus"></span>
              </button> -->
            </header> <!-- End Panel header -->
            <div class=""> <!-- START Activity List -->
              <!-- <h6></small>Open tabs:</small></h6> -->
              <!-- <ul class="url-list">
                  <span class="no-page-list text-muted">No tabs open.</span>
              </ul> -->
            </div> <!-- End Activity List -->
          </li> <!-- End Person box -->
          <li id="template-tab" class="tab">
            <a class="normal" href="#" target="_blank"><img class="favicon" src="" style="height: 16px; width: 16px;">
              <span class="title"></span>
              <a href="#" data-placement="top" class="mirror link btn btn-default btn-xs pull-right" data-original-title="Start a session looking at exactly what the other person sees"><span class="glyphicon glyphicon-log-in"></span></a>
              <a href="#" data-placement="top" class="request-current push link btn btn-default btn-xs pull-right" data-original-title="Push this current tab you're on to the other participants."><span class="glyphicon glyphicon-share-alt"> <span class="push-btn-txt"></span></span></a>
            </a>
          </li>
        </div>
      </div>
      <div id="chat-field">
        <div class="input-group input-group">
          <input id="chat" type="text" class="form-control" placeholder="Type here to chat">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Send</button>
          </span>
        </div>
      </div>
    </div><!-- /#main-content -->


    <!-- Debugging; only shown in content -->
    <div id="debug-panel-container">
      <div id="debug-panel">
        <fieldset>
          <legend>
            Add a tab
          </legend>
          <input type="text" id="add-tab-url" value="http://google.com" style="width: 20em">
          <input type="text" id="add-tab-tabid" value="1234" style="width: 4em">
          <label for="add-tab-local">Local? <input type="checkbox" id="add-tab-local"></label>
          <button id="add-tab">Add</button>
        </fieldset>

        <fieldset>
          <legend>
          Add a person
          </legend>
          <input type="text" id="add-person-name" value="Gregg Lind" style="width: 20em">
          <button id="add-person">Add</button>
        </fieldset>
      </div>
    </div>

  </body> <!-- END SIDEBAR -->

  <script type="text/javascript" charset="utf-8">
    //tooltips
    $('.spectate-page').tooltip('show');
    $('.push-page').tooltip('show');

    // fade out username
    $('.user-one').hover(function(){
      $('.user-one .username').fadeOut();
    }, function(){
      $('.user-one .username').fadeIn();
    })
    $('.user-two').hover(function(){
      $('.user-two .username').fadeOut();
    }, function(){
      $('.user-two .username').fadeIn();
    })
    $('.user-three').hover(function(){
      $('.user-three .username').fadeOut();
    }, function(){
      $('.user-three .username').fadeIn();
    })
    $('.user-four').hover(function(){
      $('.user-four .username').fadeOut();
    }, function(){
      $('.user-four .username').fadeIn();
    })

    //tabbable activity list area
    $("#private-messages-list").hide();
    $('.btn-activity-stream').click(function(){
      $("#chat-field").show();
      $("#activity-list").show();
      $("#private-messages-list").hide();
      $('.middlebar li:first-child').addClass('active');
      $('.middlebar li:nth-child(2)').removeClass('active');
    });

    $('.btn-private-messages').click(function(){
      $("#activity-list").hide();
      $("#chat-field").hide();
      $("#private-messages-list").show();
      $('.middlebar li:nth-child(2)').addClass('active');
      $('.middlebar li:first-child').removeClass('active');
    });

  </script>

</html>
