html, body {
    margin: 0;
}

#content {
    padding: 4px;
}

h1#header {
    margin: 0;
    padding: 5px;
    background-color: #000;
    color: #fff;
    font-size: 90%;
}

button {
    border: 1px solid #999;
    border-radius: 1px;
}

button:hover {
    background-color: #bbb;
}

body {
    font-family: sans-serif;
}

#messages li, #peers li {
    list-type: none;
}

#messages, #peers {
    padding: 0;
}

.edit-container {
    float: right;
}

.peer {
    border: 1px solid #999;
    margin-bottom: 4px;
}

.url-list li {
    list-type: none;
    margin-left: 10px;
}

.url-list a {
    text-decoration: none;
}

.url-list {
    padding: 0 0 0 5px;
}


/*Participant component */

.avatar-holder {
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  border-radius: 50px;
  margin: -4px 10px 0px -4px;
  background: #fff;
}

.btn-minimize {
  margin: -20px 0px;
}

.activity-indicator {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: -4px 10px 0px -4px;
  background: green;
}

